{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="jumbotron" style="display: flex">
        <div>
        <h1>Admin</h1>
        <p>Bienvenue sur le panel d'administration</p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('artist_index') }}" role="button">Artistes</a></p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('product_index') }}" role="button">Produits</a></p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('user_index') }}" role="button">Utilisateurs</a></p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('event_index') }}" role="button">Evènements</a></p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('streaming_index') }}" role="button">Streaming</a></p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('news_index') }}" role="button">News</a></p>
        </div>
        <div>
            <h4>Quelques données</h4>
            <h5>Liste des artistes ayant participé au plus grand nombre d'évènements récemment :</h5>
            <ul>
                {% for a in artists %}
                    <li>{{ a.name }}</li>
                {%  endfor %}
            </ul>
            <h5>Nombre de morceaux par genre :</h5>
            <ul>
                {% for p in products %}
                <li>{{ p.genre }} : {{ p.1 }}</li>
                {% endfor %}
            </ul>
            <h5>Provenance des utilisateurs récemment inscrits</h5>
            <ul>
                {% for u in users %}
                    <li>{{ u.city }}</li>
                {%  endfor %}
            </ul>
            <h5>Dépenses moyennes d'un utilisateur :</h5>
            <ul>
                {% for e in userExp %}
                    <li>{{ e.1 }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
