<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.css')}}" >
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
                integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
                crossorigin=""></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('products') }}">Musique</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('events') }}">Evenements</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin') }}">Admin</a>
            </li>
            {% endif %}
        </ul>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">

            {{ message }}
        </div>
        {% endfor %}
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
